$background: linear-gradient(45deg, #d30cb8, #6df1d8);

.intro {
  padding: 20px 0;
  background-color: #e2e2e2;

  &__image-container {
    img {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.info {
  .tabs {
    .tab a {
      color: black;

      &:focus {
        background-color: rgba(128, 128, 128 , 0.1);
      }
    }
    .indicator {
      background: $background;
    }
  }
}

.bold {
  font-weight: bold;
}